body {
        background: #B993D6;
        background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);
        background: linear-gradient(to right, #8CA6DB, #B993D6);
}

.list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
}